/*** table of contents ***/
/** 1. global
 *  2. pokedex grid view
 *  3. info view
 *  4. sub info view
 *  5. data view
 *  6. stats view
 *  7. type view
 *  8. type color index
 *  9. search bar
 *  10. media screens
 */

/*** 1. global ***/
* {
    font-family: 'Arial', serif;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    color: whitesmoke;
    user-select: none;
    background-color: #202020;
}

button {
    background-color: #202020;
    border: none;
    display: inline-block;
    text-decoration: none;
}

h1 {
    font-size: xxx-large;
    margin: 3% 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 0;
}

#logo {
    order: 1;
    width: 8%;
    height: 8%;
    margin: 5% 2% 2% 0;
}

#headerTitle {
    order: 2;
    margin-bottom: 0;
}

footer {
    margin: 0.2rem;
    padding: 0.2rem;
}

#container {
    width: 100%;
    display: grid;
    background-color: #202020;
    min-width: 600px;
}

.vStack {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.hStack {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.section {
    padding: 10px 15px
}

.sectionTitle {
    font-weight: bold;
}

.sectionContent {
    font-size: 90%;
}

.center {
    display: block;
    margin: auto;
    width: 85%;
    text-align: center;
}

/*** 2. pokedex grid view ***/
#pokemonGridContainer {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    /*justify-content: space-between;*/
    /*margin: 0 auto;*/
    /*width: 100%;*/
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.pokemonGrid {
    width: 90%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center !important;
    margin: 0.7rem;
    padding: 0.2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
}

.pokemonGrid:hover {
    box-shadow: #26394DFF 0px 14px 28px, #26394DFF 0px -10px 10px;
}

.pokemonImage {
    border: 0px !important;
    box-shadow: 0px 0px 0px 0px #000000;
    height: 80%;
    width: 90%;
    justify-content: space-around;
}

.pokemonName {
    text-align: center;
    margin: 0.2rem;
}

.pokemonEtymology {
    text-align: center;
    font-size: 60%;
    letter-spacing: 1px;
    margin: 0.1rem;
}

.pokemonNationdexNum {
    padding: 1%;
    width: 30%;
    font-size: 80%;
    letter-spacing: 0px;
    text-align: center;
    background-color: #343434;
    border-radius: 10px;
}

.pokemonNationdexNum, .pokemonEtymology, .pokemonName, .pokemonImage {
    margin: 0.2rem;
}

#detailButton {
    color: steelblue;
    font-size: 100%;
    width: 30%;
    margin: 2%;
}

/*** 3. pokedex info view ***/
#backButton {
    color: steelblue;
    font-size: 100%;
    margin: 2%;
}

#pokemonMainView {
    margin: 3% 15% 20%;
}

#infoHeader {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#infoDexNum {
    display: flex;
    justify-content: end;
    font-size: 1.5em;
    color: darkgray;
}

#infoSpecies {
    text-align: center;
}

#infoImage {
    width: 30%;
    padding: 5%;
}

#infoContent {
    display: grid;
    grid-template-rows: 10fr 1fr;
}

#infoEntry {
    text-align: center;
}

#infoButton {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 35px;
    background-color: #343434;
    border-radius: 10px;
    margin: 3%;
}

#infoButton > button {
    background-color: #343434;
    font-size: 40%;
    padding: 5%;
    border-radius: 10px;
}

.infoButtonSelected {
    background-color: #5b5b5b !important;
}

.infoHeaderGroup {
    display: inline-block;
}


/*** 4. pokedex sub info view ***/
#pokemonSubInfoView {
    display: grid;
    grid-template-rows: auto;
    row-gap: 2%;
}

/*** 5. data view ***/
.dataTitle {
    font-weight: bold;
}

.dataText {

}

.heightWeightLabel {
    color: #909090;
    font-size: 85%;
}

.heightWeightValue {
    font-weight: bold;
    font-size: 150%;
}

#dataHeader {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


#dataHeightDiv {
}

#dataAbilitiy {
    padding: 15px;
}

.dataTitle {
    padding-right: 15px;
}

.abilityValue {
    padding-top: 10px;
    display: block;
    margin-left: 5%;
    font-size: 85%;
    color: #909090;
}

#regionAndEggGroup {
    padding: 15px;
}

.previewImage {
    width: 30%;
}

.evoChain {
    margin: 25px;
    display: grid;
    /* grid columns set dynamically */
}

.evoGroup {
    display: flex;
    justify-content: center;
}

.evoChainLabel {
    margin-top: 15%;
    margin-right: 10%;
}

.pokemonPreview {
    text-align: center;
}

.previewDexNum {
    color: #909090;
}

/*** 6. stats view ***/
.baseStat {
    display: grid;
    grid-template-columns: 1fr 1fr 5fr;
    margin-bottom: 10px;
}

.baseStatName {
    text-align: right;
}

.baseStatValue {
    text-align: center;
}

canvas {
    height: 20px;
    width: 100%;
}

#formsPreview {
    display: grid;
    column-gap: 15px;
    margin-top: 10px;
    /* columns will be generated dynamically */
}

/*** 7. types view ***/
#types {
    display: grid;
    row-gap: 10px;
}

.typeIcon {
    height: 25px;
    border-radius: 20px;
    padding: 8px;
}

/*** 8. type color index  ***/
.bug {
    background-color: #A6B91A;
}

.dark {
    background-color: #736C75;
}

.dargon {
    background-color: #6A7BAF;
}

.electric {
    background-color: #E5C531;
}

.fairy {
    background-color: #E397D1;
}

.fighting {
    background-color: #CB5F48;
}

.fire {
    background-color: #EA7A3C;
}

.flying {
    background-color: #7DA6DE;
}

.ghost {
    background-color: #846AB6;
}

.grass {
    background-color: #71C558;
}

.ground {
    background-color: #CC9F4F;
}

.ice {
    background-color: #70CBD4;
}

.normal {
    background-color: #AAB09F;
}

.poison {
    background-color: #B468B7;
}

.psychic {
    background-color: #E5709B;
}

.rock {
    background-color: #B2A061;
}

.steel {
    background-color: #89A1B0;
}

.water {
    background-color: #539AE2;

}

/*** 10. media screens  ***/

@media screen and (max-width: 820px) {
    .previewImage {
        width: 60%;
    }

    .evoChainLabel {
        margin-top: 25%;
        margin-right: 10%;
    }

    #infoImage {
        width: 50%;
        padding: 5%;
    }

    #pokemonGridContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .pokemonGrid {
        width: 80%;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center !important;
        margin: 0.7rem;
        padding: 0.2rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        border-radius: 10px;
    }
}

@media screen and (max-width: 370px) {
    .previewImage {
        width: 80%;
    }

    .evoChainLabel {
        margin-top: 30%;
        margin-right: 10%;
    }

    #infoImage {
        width: 70%;
        padding: 5%;
    }

    #pokemonGridContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .pokemonGrid {
        width: 80%;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center !important;
        margin: 0.7rem;
        padding: 0.2rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        border-radius: 10px;
    }

    .baseStat {
        display: grid;
        grid-template-columns: 2fr 1fr 5fr;
        margin-bottom: 10px;
    }
}
