
/*** table of contents ***/
/** 1. global
 *  2. pokedex grid view
 *  3. info view
 *  4. sub info view
 *  5. data view
 *  6. stats view
 *  7. type view
 *  8. type color index
 */

/*** 1. global ***/
* {
    font-family: 'Arial', serif;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    color: whitesmoke;
    user-select: none;
}

button {
    background-color: #202020;
    border: none;
    display: inline-block;
    text-decoration: none;
}

#container {
    width: 40%;
    display: grid;
    margin: 1.5% 30%;
    box-shadow: 0 0 10px 6px #ccc;
    background-color: #202020;
    border-radius: 35px;
    min-width: 600px;
}

.vStack {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.hStack {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.section {
    padding: 10px 15px
}

.sectionTitle {
    font-weight: bold;
}

.sectionContent {
    font-size: 90%;
}

.center {
    display: block;
    margin: auto;
    width: 85%;
    text-align: center;
}

/*** 2. pokedex grid view ***/
.pokemonGridImage {
    width: 15%;
}

/*** 3. pokedex info view ***/
#backButton {
    color: steelblue;
    margin: 5%;
    font-size: 100%;
}

#pokemonMainView {
    margin: 5px;
}

#pokemonInfoView {
    padding: 1% 5%;
}

#infoHeader {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#infoDexNum {
    display: flex;
    justify-content: end;
    font-size: 1.5em;
    color: darkgray;
}

#infoSpecies {
    text-align: center;
}

#infoImage {
    width: 65%;
    padding: 5%;
}

#infoContent {
    display: grid;
    grid-template-rows: 5fr 1fr;
}

#infoEntry {
    text-align: center;
}

#infoButton {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 35px;
    background-color: #343434;
    border-radius: 10px;
}

#infoButton > button {
    background-color: #343434;
    font-size: 40%;
    padding: 5%;
    border-radius: 10px;
}

.infoButtonSelected {
    background-color: #5b5b5b !important;
}

.infoHeaderGroup {
    display: inline-block;
}


/*** 4. pokedex sub info view ***/
#pokemonSubInfoView {
    display: grid;
    grid-template-rows: auto;
    padding: 3% 5%;
}

/*** 5. data view ***/
.dataTitle {
    font-weight: bold;
}

.dataText {

}

.heightWeightLabel {
    color: #909090;
    font-size: 85%;
}

.heightWeightValue {
    font-weight: bold;
    font-size: 150%;
}

#dataHeader {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


#dataHeightDiv {
}

#dataAbilitiy {
    padding: 15px;
}

.dataTitle{
    padding-right: 15px;
}

.abilityValue {
    padding-top: 10px;
    display: block;
    margin-left: 5%;
    font-size: 85%;
    color: #909090;
}

#regionAndEggGroup {
    padding: 15px;
}

.previewImage {
    width: 75px;
}

.evoChain {
    display: grid;
    /* grid columns set dynamically */
}

.evoGroup {
    display: flex;
    justify-content: center;
}

.evoChainLabel {
    margin-top: 25%;
    margin-right: 10%;
}

.pokemonPreview {
    text-align: center;
}

.previewDexNum {
    color: #909090;
}

/*** 6. stats view ***/
.baseStat {
    display: grid;
    grid-template-columns: 1fr 1fr 5fr;
    margin-bottom: 10px;
}

.baseStatName {
    text-align: right;
}

.baseStatValue {
    text-align: center;
}

canvas {
    height: 20px;
    width: 100%;
}

#formsPreview {
    display: grid;
    column-gap: 15px;
    margin-top: 10px;
    /* columns will be generated dynamically */
}

/*** 7. types view ***/
#types {
    display: grid;
    row-gap: 10px;
}

.typeIcon {
    height: 25px;
    border-radius: 20px;
    padding: 8px;
    margin-right: 15px;
}

/*** 8. type color index  ***/
.bug {
    background-color: #A6B91A;
}

.dark {
    background-color: #736C75;
}
.dargon {
    background-color: #6A7BAF;
}

.electric {
    background-color: #E5C531;
}

.fairy {
    background-color: #E397D1;
}

.fighting {
    background-color: #CB5F48;
}
.fire {
    background-color: #EA7A3C;
}

.flying {
    background-color: #7DA6DE;
}

.ghost {
    background-color: #846AB6;
}

.grass {
    background-color: #71C558;
}

.ground {
    background-color: #CC9F4F;
}

.ice {
    background-color: #70CBD4;
}

.normal {
    background-color: #AAB09F;
}

.poison {
    background-color: #B468B7;
}

.psychic {
    background-color: #E5709B;
}

.rock {
    background-color: #B2A061;
}

.steel {
    background-color: #89A1B0;
}

.water {
    background-color: #539AE2;
}